
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f9ff;
    position: relative;
    overflow: hidden;
}

body::before{
content:"";
position:fixed;
inset:0;
z-index:0;
pointer-events:none;

background-image:
    linear-gradient(90deg, rgba(3,79,162,0.03) 1px, transparent 1px),
    linear-gradient(rgba(3,79,162,0.03) 1px, transparent 1px), 

    url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 100 100\' preserveAspectRatio=\'xMinYMin meet\'><defs/><g><path d=\'M50 0 L100 25 L100 75 L50 100 L0 75 L0 25 Z\' fill=\'%23fbfdff\' stroke=\'%23e9f5ff\' stroke-width=\'0.8\'/></g><g><!-- 左面 --><path d=\'M0 25 L50 50 L50 100 L0 75 Z\' fill=\'%23f7fbff\'/></g><g><!-- 右面 --><path d=\'M100 25 L50 50 L50 100 L100 75 Z\' fill=\'%23f8fbff\'/></g><g><!-- 底面 --><path d=\'M0 75 L50 100 L100 75 L50 50 Z\' fill=\'%23fafcff\'/></g></svg>'); 
background-size: 100px 100px;
background-position: 0 0;
opacity:0.75;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    background: white;
    width: 900px;
    height: 520px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 100px;
}


.left {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo h1 {
    font-size: 38px;
    color: #232f3e;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.left input,
.left button {
  width: 100%;
  box-sizing: border-box;  
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
}

.checkbox input {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #66bfff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1e88e5;
}

.secondary-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: white;
    color: #232f3e;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.secondary-button:hover {
    background: #f3f3f3;
}

.footer {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
    color: #555;
}

.footer a {
    color: #0073bb;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


.right {
    width: 50%;
    background: linear-gradient(135deg,#90caf9, #1e88e5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.right p {
    font-size: 16px;
    margin-bottom: 20px;
}

.right a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.right a:hover {
    text-decoration: underline;
}

.logo-container {
  position: fixed;       
  top: 20px;              
  left: 50%;              
  transform: translateX(-50%);
  z-index: 10;             
  text-align: center;
}

.logo-container img {
  width: 130px;           
  height: auto;
  opacity: 0.87;          
}

.tab-switch {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.tab {
  flex: 1;
  background: none;
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #555;
  transition: all 0.2s ease;
}

.tab:hover {
  background-color: #bbdefb; 
  color: #1e88e5;           
}
.tab.active {
  
  color: #1e88e5;            
  border-bottom: 3px solid #1e88e5;
  font-weight: bold;
}


.form {
  display: none;
  animation: fadeIn 0.3s ease;
}

.form.active {
  display: block;
}
.radio-group {
      display: flex;
      gap: 20px;
      margin-bottom: 5px;
      align-items: center; 
      height: 30px; 
    }

    .radio-group label {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: normal;
      cursor: pointer;
    }

    .radio-group input[type="radio"] {
      width: auto;
      margin: 0;
    }

    .password-hint {
      font-size: 12px;
      color: #666;
      margin-top: -10px;
      margin-bottom: 0px;
    }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 768px) {
    .container {
    flex-direction: column;
    width: 90%;
    height: auto;
    }
    .right {
    height: 200px;
    border-radius: 0 0 8px 8px;
    }
    .left {
    width: 100%;
    }
}
